.devenv/
.direnv/
.env
.env.*
!.env.example
!.env.dev.example

# Go
bin/
coverage.out

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android/iOS generated output
apps/mobile/android/
apps/mobile/ios/
apps/mobile/linux/
apps/mobile/macos/
apps/mobile/web/
apps/mobile/windows/

# Postgres/devenv state
.devenv-state/
